


<div class="panel panel-info checkin">
  <div class="panel-heading checkin-heading">
    <h3 class="panel-title text-center">CHECK-IN</h3>
  </div>
  <div class="panel-body">
    
    <h2 class="text-center checkin-main-heading">RETRIEVE YOUR BOOKING</h2>
    <h4 class="text-center">You can find your booking by filling out your family name and the booking code in your booking confirmation.</h4>
    <form [formGroup]="checkinForm"  >
      <div class="form-group" [ngClass]="{ 'has-error': checkinForm.controls.bookingcode.errors && checkinForm.controls.bookingcode.touched }">
        <label class="control-label" >Booking code</label>
        <input type="text" class="form-control"  formControlName="bookingcode" name="bookingcode" >
        <span class="help-block checkin-error" name="bookingcodeerrormsg" *ngIf="checkinForm.controls.bookingcode.errors && checkinForm.controls.bookingcode.touched">Booking code is required.</span>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': checkinForm.controls.familyname.errors && checkinForm.controls.familyname.touched }">
        <label class="control-label" >Family name</label>
        <input type="text" class="form-control" formControlName="familyname" name="familyname">
        <span class="help-block checkin-error" name="familynameerrormsg" *ngIf="checkinForm.controls.familyname.errors && checkinForm.controls.familyname.touched" >Family name is required.</span>
      </div>
      <button type="button" [disabled]="!checkinForm.valid" class="btn  btn-block btn-danger checkin-submit-btn" (click)="onCheckinDetailsSubmit()" >
        Retrieve booking
      </button>
    </form>

  </div>
</div>

<footer class="text-center">
  Copyright &copy; 2016
</footer>